:root {
  --primary: #00cc82;
  --primary-hover: #02b976;
  --primary-hover-text: #38a87f;
  --primary-background: #e2f7f0;
  --primary-background-dark: #c7f0e2;
  --body-background: #f9fbfa;
  --body-background2: #f3fcf8;
  --text-primary: #434343;
  --text-black: #000000;
  --text-white: #ffffff;
  --orange: #eaaf0a;
  --orange-background: #fef4db;
  --orange-background-dark: #f9d899;
  --blue-background: #c9efe2;
  --blue-background-dark: #cfdefb;
  --danger: #eb1212;
  --pink: #f56d64;
  --pink-background-dark: #fcdad8;
  --footer-background: #c7f0e2;
  --border: #eeebeb;
  --font-dosis: Dosis variable;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
body {
  font-family: "Inter", sans-serif;
  background: var(--body-background);
  /* color: var(--text-primary); */
}

a {
  color: inherit;
  text-decoration: none;
}
textarea {
  outline: unset !important;
  resize: none;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 1px solid var(--primary);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  /* box-shadow: inset 1em 1em #959495; */
  background-color: var(--primary);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
/* input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
} */
input[type="checkbox"]:disabled {
  --form-control-color: #959495;

  color: #959495;
  cursor: not-allowed;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
.d-flex {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}
.d-flex2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-flex3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.d-flex4 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn_sm {
  padding: 12px;
  font-weight: 600;
  font-size: 14px;
  border: unset;
  background: var(--primary);
  color: var(--text-white);
  border-radius: 8px;
}
.btn_sm_outline {
  padding: 12px;
  font-weight: 600;
  font-size: 14px;
  border: unset;
  background: #ffffff;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 8px;
}
.btn_main {
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  border: unset;
  background: var(--primary);
  color: var(--text-white);
  border-radius: 8px;
}
.btn_main svg{
  margin-right: 3px;
}
.btn_main2 {
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  border: unset;
  background: var(--primary-hover);
  color: var(--text-white);
  border-radius: 8px;
}
.btn_main2 svg{
  margin-right: 3px;
}

.btn_search {
  padding: 6px;
  font-weight: 600;
  font-size: 14px;
  border: unset;
  background: var(--primary);
  color: var(--text-white);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.btn_search svg {
  margin-right: 10px;
}
.form-input {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid var(--primary);
  padding: 10px;
  font-weight: var(--font-dosis);
  font-size: 15px;
  color: var(--text-primary);
}
.form-control {
  width: 100%;
  /* background: var(--body-background2); */
  border-radius: 4px;
  border: 1px solid var(--primary);
  padding: 7px;
  font-weight: var(--font-dosis);
  font-size: 15px;
}
.btn_main:hover,
.btn_search:hover,
.btn_sm:hover,
.btn_sm_outline:hover {
  background: var(--primary-hover);
  color: var(--text-white);
}
button {
  cursor: pointer;
}
.p-r {
  position: relative;
}
.p-a {
  position: absolute;
}
.xs-form {
  max-width: 370px;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.h-100vh {
  height: 100vh;
}
.mgt-10 {
  margin-top: 10px;
}
.mgt-20 {
  margin-top: 20px;
}
.mgt-40 {
  margin-top: 20px;
}
.mgb-10 {
  margin-bottom: 10px;
}
.mgb-20 {
  margin-bottom: 20px;
}
.bg {
  padding: 12px;
  border-radius: 8px;
}
.bg-orange {
  background: var(--orange-background);
}
.bg-orange-dark {
  background: var(--orange-background-dark);
}
.bg-green {
  background: var(--primary-background);
}
.bg-blue-dark {
  background: var(--blue-background-dark);
}
.bg-pink-dark {
  background: var(--pink-background-dark);
}
.bg-primary-dark {
  background: var(--primary-background-dark);
}
.primary {
  background: var(--primary);
}
.orange {
  background: var(--orange);
}
.pink {
  background: var(--pink);
}

.bg-section-white {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 0px 7px 1px rgba(0, 0, 0, 0.1);
}
.slick-list {
  margin: 0 -5px;
}
.slick-slide > div {
  padding: 0 5px;
}
.slick-arrow:before {
  color: var(--orange) !important;
}
.card {
  border-radius: 8px;
  padding: 20px;
  background: #ffffff;
  border: 1px solid var(--primary-background-dark);
  box-shadow: 1px 0px 7px 1px rgba(0, 0, 0, 0.1);
}
.card-sm {
  background: var(--body-background2);
  padding: 8px;
  border-radius: 5px;
}
hr.rounded {
  border: 3px solid var(--orange);
  border-radius: 8px;
  width: 10%;
}
hr.rounded2 {
  border: 1px solid var(--orange);
  border-radius: 8px;
  margin-bottom: 20px;
}
.form__body label {
  font-size: 15px;
  font-weight: 700;
  font-family: var(--font-dosis);
  color: var(--text-black);
  margin-bottom: 20px;
}
.form__body label sup {
  font-size: 14px;
  font-family: var(--font-dosis);
  color: var(--danger);
}
.form__body__other p {
  font-family: var(--font-dosis);
  font-size: 15px;
  font-weight: 700;
  margin-right: 10px;
  color: var(--text-black);
}
.form__body__other a {
  font-family: var(--font-dosis);
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
  color: var(--primary);
}
.form__body__icon button {
  position: absolute;
  right: 5px;
  top: 5px;
}
.form__body__icon button svg {
  color: var(--orange);
}

.socal__oath__link {
  padding: 8px;
  height: 45px;
  border: 1px solid var(--border);
  border-radius: 8px;
  width: 100%;
}
.socal__oath__link img {
  margin-right: 10px;
}

.socal__oath__link p {
  font-weight: 700;
  font-size: 15px;
  font-family: var(--font-dosis);
  text-align: center;
}
.socal__oath__or {
  text-align: center;
  margin: 10px;
  font-size: 14px;
  position: relative;
}
.socal__oath__or:before {
  content: "";
  display: block;
  width: 130px;
  height: 2px;
  background: var(--orange);
  left: 0;
  top: 50%;
  position: absolute;
}
.socal__oath__or:after {
  content: "";
  display: block;
  width: 130px;
  height: 2px;
  background: var(--orange);
  right: 0;
  top: 50%;
  position: absolute;
}

.uploader__wrapper {
  border-radius: 8px;
  border: 1px solid var(--orange);
  border-style: dashed;
  cursor: pointer;
  flex-direction: column;
}
.uploader__wrapper p {
  font-weight: 800;
  font-size: 15px;
  font-family: var(--font-dosis);
  margin-top: 3px;
}
.uploader__wrapper svg {
  color: var(--primary);
}
.img__wrapper__height {
  height: 150px;
}
.img__wrapper__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.header {
  width: 100%;
  min-height: 40px;
  background: #ffffff;
  display: flex;
  align-items: center;
}
.header__container {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}
.header__container_brand{
  color: var(--primary);
  font-family: var(--font-dosis);
  font-weight: 800;
  font-size: 23px;
  letter-spacing: 1px;
}
/* .mobile__wrapper__clicker{
  display: flex;
} */
.logo__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo__container button {
  display: none;
}
.logo__container h4 {
  margin-left: 7px;
}
.sidebar__mobile__view{
  display: none;
}
.link__header__main_p{
  display: none;
}
.links__container.large{
  display: none;
}
.links__container.mobile {
  padding: 10px 10px;
  align-items: unset !important;
  flex-direction: column;
}
.links__container.mobile a {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 13px;
  font-family: var(--font-dosis);
}
.links__container a {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}
.links__container a:hover{
  color: var(--primary);
}
.links__container a.action {
  color: var(--primary);
}
.button__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login__container {
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.login__container a {
  color: var(--primary);
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
}
.login__container a svg {
  font-size: 18px !important;
  margin-right: 5px;
}
.login__container a:hover:last-child {
  color: var(--primary-hover-text);
}
.login__container a:last-child {
  color: var(--text-primary);
}
.login__container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.login__container2 a {
  color: var(--primary);
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
}
.login__container2 a svg {
  font-size: 18px !important;
  margin-right: 5px;
}
.login__container2 a:hover:last-child {
  color: var(--primary-hover-text);
}
.login__container2 a:last-child {
  color: var(--text-primary);
}
.link__logout{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border: 1px solid var(--orange);
  color: var(--orange);
  border-radius: 8px;
}
.link__login {
  padding: 10px;
  border: 1px solid var(--primary);
  border-radius: 8px;
}
.link__login:hover {
  background: var(--primary);
  color: var(--text-white) !important;
}
.full__page__background{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999999999999;
}
.inner__full__page{
  background: #fff;
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 8px;
}
.sidebar__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999999999999;
}
.sidebar__overlay2 {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999999999999;
}
.sidebar__inner {
  background: #fff;
  width: 250px;
  height: 100%;
  padding: 10px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
}
.sidebar__inner2 {
  background: #fff;
  width: 250px;
  height: 100%;
  padding: 10px;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
}
.sidebar__close__icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--text-primary);
}
.footer__container{
  background: var(--footer-background);
  margin-top: 40px;
}
.footer__grid{
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer__about__desc{
  font-size: 15px;
  font-weight: 600;
  font-family: var(--font-dosis);
  color: var(--text-black);
}
.footer__heads{
  margin-bottom: 15px;
}
.footer__heads h5{
  font-family: var(--font-dosis);
  font-size: 23px;
  font-weight: 800;
  color: var(--text-black);
  margin-bottom: 10px;
}

.footer_links {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.footer_links a{
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: var(--font-dosis);
}




